<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="src/css/normalize.css" title="" type=""/>
    <link rel="stylesheet" href="src/css/foundation.css" title="" type=""/>
    <link rel="stylesheet" href="src/css/style.css">

    <title>Locations</title>

    <!--<script type="text/template" id="search-results-template">-->
        <!--<h4>Search results</h4>-->

        <!--<div id="results">-->
            <!--<% _.each(searchResults, function(searchResult) { %>-->

            <!--<div class="panel large-12 columns">-->
                <!--<h5><%= searchResult.name %></h5>-->
                <!--<h6><%= searchResult.description %></h6>-->
                <!--<a href="#" class="<%= searchResult.status%> status button tiny right" data-id="<%= searchResult.id %>"><%= searchResult.status ? 'Like': 'Unlike' %></a>-->
            <!--</div>-->
            <!--<% }); %>-->
        <!--</div>-->
    <!--</script>-->

    <!--<script type="text/template" id="liked-places-template">-->
        <!--<h4>Places I liked</h4>-->
        <!--<nav>-->
            <!--<ul>-->
                <!--<% _.each(likedPlaces, function(likedPlace) { %>-->
                    <!--<li class="like">-->
                        <!--<%= likedPlace.name %>-->
                        <!--<a href="#" class="remove tiny right" data-id="<%= likedPlace.id %>">Remove</a>-->
                    <!--</li>-->
                <!--<% }); %>-->
            <!--</ul>-->
        <!--</nav>-->
    <!--</script>-->
</head>
<body>
<div class="contain-to-grid">
    <nav class="top-bar" data-topbar>

    </nav>
</div>

<div id="container">
    <div class="row">
        <div id="searchForm">
        </div>
    </div>

    <div class="row">
        <hr class="large-12 columns"/>
    </div>

    <div class="row">

        <div class="large-8 medium-8 columns" id="searchResults">
            <h4>Search results</h4>
            <div id="results">
            </div>
        </div>

        <div  class="large-4 medium-4 columns">
            <h4>Places I liked</h4>
            <nav>
                <ul id="likedPlaces">

                </ul>
            </nav>
        </div>

    </div>
</div>

<script type="text/javascript" src="build/js/bundle.js"></script>

</body>
</html>
