<li class="like">
    {{#if this.status }}
      if
    {{else}}
      hello
      {{this.name}}
      {{this.status}}
      <a href="#" class="remove tiny right" data-id="{{this.id}}">Remove</a>
    {{/if}}
</li>



