<div class="panel large-12 columns">
        <h5>{{this.name}}</h5>
        <h6>{{this.description}}</h6>
        <a href="#" class="status button tiny right" data-id="{{this.id}}">
          Like
        </a>
</div>
